---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<section>
  <h2>Recent manuscripts</h2>
  <p>
  Blunier, David (2024). <a href="https://ling.auf.net/lingbuzz/008609" target="_blank">Split Indexicality (submitted).</a> <i>Ms., University of Geneva.</i> <br>
    <br>
  Blunier, David (2024). <a href="https://davidblunier.github.io/Papers/Blunier_DIL_24.pdf" target="_blank">Le discours indirect libre comme épiphénomène linguistique.</a> Ms., University of Geneva. <br>
    <br>
  Blunier, David (2022). <a href="https://ling.auf.net/lingbuzz/006310" target="_blank">Elided indexicals.</a> <i>Ms., University of Geneva.</i> <br>
   
  </p>
</section>

<section>
  <h2>Journal articles</h2>
  <p>

Khristoforova, Evgeniia & Blunier, David (2023). <a href="https://raco.cat/index.php/FEAST/article/view/422436" target="_blank">Indexicals under role shift in Sign Language of the Netherlands.</a> <i>Proceedings of Formal and Experimental Advances in Sign language Theory (FEAST).</i>    <br>

<br>

Blunier, David (2022). <a href="https://www.dropbox.com/scl/fi/rqbwue0twdvb9leaup5k5/Proceedings2022-pages-52-61.pdf?rlkey=2s0ez8c1r2qn8gxpveyw45qu3&e=1&dl=0" target="_blank">Antipresuppositions, logophors and shifted indexicality.</a> <i>Proceedings of the 2022 Amsterdam Colloquium.</i>    <br>

<br>

Blunier, David & Zorzi, Giorgia (2021). <a href="https://raco.cat/index.php/FEAST/article/view/394527" target="_blank">Catalan Sign Language ellipsis, role shift, and the QUD.</a> <i>Proceedings of Formal and Experimental Advances in Sign language Theory (FEAST).</i>    <br>

<br>

Blunier, David (2021). <a href="https://repository.upenn.edu/entities/publication/c295c404-9efa-4c82-bbcf-faa07f3f9e7d" target="_blank">Armenian speech reports: blurring the quotative line.</a> <i>Proceedings of Penn Linguistics Conference 45.</i>    <br>

<br>
    
Blunier, David (2019). <a href="https://www.unige.ch/clf/fichiers/pdf/04_NCLF-33_P1_Blunier-D_Art-3-DOI.pdf" target="_blank">Indexicaux diégétiques.</a> <i>Cahiers de linguistique française</i> 33.    <br>
   
  </p>
</section>

<section>
  <h2>Dissertation</h2>
  <p>
  <a href="https://davidblunier.github.io/Papers/Blunier_Dissertation.pdf" target="_blank">Persons with a view. Indexicals in reported speech and beyond.</a> University of Geneva, 2024.
  </p>
</section>


<!--

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

-->

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

-->


