---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p>Under construction</p>

<section>
  <h2>Recent manuscripts</h2>
  <p>
  <a href="https://ling.auf.net/lingbuzz/008609" target="_blank">Split Indexicality (submitted). <i>Ms., University of Geneva.</i></a>    <br>

  <a href="https://ling.auf.net/lingbuzz/006310" target="_blank">Elided indexicals. <i>Ms., University of Geneva.</i></a> <br>
   
  </p>
</section>

<section>
  <h2>Journal articles</h2>
  <p>
  <a href="https://www.unige.ch/clf/fichiers/pdf/04_NCLF-33_P1_Blunier-D_Art-3-DOI.pdf" target="_blank">Indexicaux diégétiques. <i>Cahiers de linguistique française</i> 33, 2019.</a>    <br>
   
  </p>
</section>

<section>
  <h2>Dissertation</h2>
  <p>
  <a href="Dissertation/Blunier_Dissertation_FINAL.pdf" target="_blank">Persons with a view. Indexicals in reported speech and beyond</a>
  </p>
</section>


<!--

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

-->

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

-->


