---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---


<section>
  <h2>Invited Talks</h2>
  <p>

    <a href="Split/Blunier_Split.pdf" target="_blank">Split indexicality.</a> Workshop <i>Varieties of Perspective Shift</i>, June 7, 2024, Institut Jean Nicod, École Normale Supérieure, Paris, France.<br>

    <br>


    
<section>
  <h2>Peer-Reviewed Conference Talks</h2>
  <p>

    <h3>2025</h3>

(with L. Couteau) Reduplication as intensification. Evidence from French Sign
Language. Talk at <i>Sinn und Bedeutung</i> 30, September 23-27, Goethe Universität
Frankfurt.<br>

    <br>
    
<i>Un étrange cas d’ellipse, mais pas que</i>. Diagnosing a new elliptical construction in
French. Poster at <i>Sinn und Bedeutung</i> 30, September 23-27, Goethe Universität
Frankfurt. <a href="MPQ/SuB/MPQ_SuB_Poster_refs.pdf" target="_blank">References </a><br>

    <br>

    Split indexicality. <i>Mismatches in anaphoric relations</i> conference (Research Network on Referential Expressions in Discourse (RED). May 29-30, 2025, University of Graz, Austria.<br>

    <h3>2024</h3>

    Split indexicality. Workshop <i>Special definites, demonstratives, and pronouns</i>, November 16, 2024, University of Bucarest, Romania.<br>

    

 
    <h3>2023</h3>

    <!-- 2023 -->

    (with J. Khristoforova) <a href="FEAST_2023/FEAST_KhriBlu_2023_pres_final.pdf" target="_blank">Indexicals under role shift in Sign Language of the Netherlands (NGT): experimental insights.</a> Formal and Experimental Advances in Sign Language Theory (FEAST), University of Bergen, Norway, June 29, 2023.<br>

    <br>

    <a href="Olomouc_23/Blunier_Olinco_Poster_2023.pdf" target="_blank">The pragmatics of shifted reference.</a> Olomouc Linguistics Colloquium, June 10, 2023, University of Olomouc, Czech Republic. <a href="Olomouc_23/Blunier_Olinco_2023_Poster_Refs.pdf" target="_blank">References</a><br>

    <br>

    (with J. Khristoforova) Indexicals under role shift in Sign Language of the Netherlands (NGT): experimental insights. Olomouc Linguistics Colloquium, June 12, 2023, University of Olomouc, Czech Republic.<br>

    <br>

    (with J. Khristoforova) <a href="GLOW46/GLOW23_poster_v2.pdf" target="_blank">Indexicals under role shift in Sign Language of the Netherlands (NGT): experimental insights.</a> Generative Lingusitics in the Old World (GLOW) 46, April 13, 2023, University of Vienna, Austria. <a href="GLOW46/GLOW23_poster_Refs.pdf" target="_blank">References</a><br>

    <br>

    <a href="GLOW46/Blunier_GLOW_2023_talk.pdf" target="_blank">A unified analysis of shifted indexicals and logophoric pronouns.</a> Generative Lingusitics in the Old World (GLOW) 46, April 11, 2023, University of Graz, Austria.<br>

    <br>
    
    <h3>2022</h3>

    <!-- 2022 -->

    <a href="ULB_quotation/ULB_Quotation_2022.pdf" target="_blank">Rethinking quotation, cross-linguistically.</a> Workshop <i>Cross-disciplinary perspectives on quoting and speech reporting</i>, October 7, 2022, Université Libre de Bruxelles, Belgium.<br>

    <br>


    <h3>2021</h3>

    <!-- 2021 -->

    (with G. Zorzi) <a href="IGG_2021/ZorBlu_IGG_Last_version.pdf" target="_blank">Indexicals under ellipsis and role shift in Catalan Sign Language.</a> Incontro di Grammatica Generativa (IGG) 46, February 23-26 2021, University of Siena, Italy. <a href="IGG_2021/Zorzi_Blunier_IGG46_References.pdf" target="_blank">References</a><br>

    <br>

    <a href="Penn_2021/Phil_21_Blunier.pdf" target="_blank">Armenian speech reports: blurring the quotative line.</a> Penn Linguistics Conference 45, March 19-21, 2021, Pennsylvania State University, USA.<br>

    <br>


    <h3>2020</h3>

    <!-- 2020 -->

    <a href="Console_2021/Blunier_Console_2021.pdf" target="_blank">Indexical shift in Armenian.</a> ConSOLE 29, January 26-28 2021, Leiden University Centre for Linguistics, The Netherlands. <a href="Console_2021/Console_poster_refs.pdf" target="_blank">References</a><br>

    <br>

    <a href="Cyprus/Cyprus.pdf" target="_blank">Shifted indexicals in Modern Eastern Armenian: evidence from and for binding.</a> International Cyprus Undergraduate Linguistics Conference (ICULC). November 28-29, 2020, University of Cyprus, Greece.<br>

    <br>

    (with G. Zorzi) <a href="Graz_2020/Graz_QUD.pdf" target="_blank">The role of QUD in ellipsis and role shift in Catalan Sign Language.</a> Workshop <i>QUDs and exhaustivity: experiments, computation, and theory</i>, September 25, 2020, University of Graz, Austria.<br>

    
   
  </p>
</section>



<!--
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

-->
